#ignore all then un-ignore files with extensions (to ensure that compiled binaries aren't pushed)
*
!*.*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# BMP Image Files
*.bmp

# DS Store Mac File attributes file
*.DS_Store
